<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sos.saveourstudents" >

    <!-- Mav View Permission -->
    <permission
        android:name="com.sos.saveourstudents.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Mav View Permission -->
    <!-- <uses-permission android:name="com.sos.saveourstudents.locationapi.maps.permission.MAPS_RECEIVE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- G+ -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- G+ -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- FB -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      



        <activity android:name=".LoginActivity"/>

        <activity android:name=".SignupActivity"/>

        <activity android:name=".ForgotLoginActivity"/>

        <activity android:name=".CreateQuestionActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".MemberWantsToJoinActivity"/>

        <activity android:name=".SettingsActivity"/>

        <activity android:name=".ViewQuestionActivity"/>






        <!-- FB login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Map Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />

        <!-- GCM -->
        <receiver
            android:name=".supportclasses.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sos.saveourstudents" />
            </intent-filter>
        </receiver>

        <service android:name=".supportclasses.GcmIntentService" />

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>
